.product-item img {
  width: 15rem;
  height: 18rem;
}

.product-item {
  flex: 1 1 auto;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
}

.product-item h3 {
  font-size: 1.8rem;
}

.product-item h4 {
  font-size: 1.6rem;
}

.product-item h5 {
  font-size: 1.4rem;
}

.product-item h3,
.product-item h4,
.product-item h5 {
  margin: 0px;
}

.quantity-controls {
  margin: 0.5rem 0rem;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
}

.product-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity-controls button {
  font-size: 1.2rem;
  width: 30px;
  height: 30px;
}

.cart-controls button {
  padding: 0.5rem 1rem;
}
